.history-calendar {
  border: none;
  border-radius: 24px;
  margin: auto;
  max-width: 100%;
  width: 80%;
  background: rgba(123, 70, 255, 0.04);
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  border: 3px solid rgba(41, 24, 85, 0.863);
  background: rgba(123, 70, 255, 0.04);
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  background: rgba(123, 70, 255, 0.04);
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.react-calendar__month-view__days {
  border: 1px solid rgba(123, 70, 255, 0.1);
}

.react-calendar__viewContainer {
  border: 1px solid rgba(123, 70, 255, 0.1);
  border-radius: 24px;
}

.react-calendar__viewContainer button {
  margin: 0.5rem 1rem;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  background: rgba(123, 70, 255, 0.04);
}

.react-calendar__month-view__weekdays div {
  font-weight: bold;
  color: #555;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
}

.react-calendar__month-view__days button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: rgba(123, 70, 255, 0.04);
  color: black;
  transition:
    background 0.2s,
    color 0.2s;
}

.react-calendar__month-view__days button:hover {
  background: rgba(48, 23, 110, 0.842);
  color: #fff;
}

abbr {
  text-decoration: none;
}

@media (max-width: 860px) {
  .history-table-wrapper {
    min-width: auto;
  }
}
